{% extends 'layout.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path("homepage") }}">Homepage</a></li>
        <li class="breadcrumb-item active">Blog list</li>
    </ol>
    <div class="wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div id="welcome">
                <h1>Blog list</h1>
                <hr>
            </div>

            <div class="row">
                {% for post in pagination  %}
                    <div class="col-md-4">
                        <h2>{{ post.getTitle() }}</h2>
                        <p><small class="pull-right">{{ post.getDate()|date("d.m.Y") }}</small></p>
                        <p><a class="btn btn-secondary" href="{{ path("detail", {"slug": post.url}) }}">Read more...</a></p>
                    </div>
                {% endfor %}
            </div>

            {{ knp_pagination_render(pagination) }}

        </div>
    </div>


{% endblock %}

{% block stylesheets %}
{% endblock %}
